[Unit]
Description=Observium Agent Service
After=network.target observium_agent.socket
Requires=observium_agent.socket
[Service]
Type=simple
User=root
# Note the - to make systemd ignore the exit code
ExecStart=-/usr/bin/observium_agent
# This is the part that makes it work like inetd
StandardOutput=socket
[Install]
WantedBy=multi-user.target
