[Install]
WantedBy = sockets.target
[Unit]
Description=Observium Agent Socket
PartOf=observium_agent.service
[Socket]
ListenStream=36602
Accept=yes
[Install]
WantedBy=sockets.target
