[Unit]
Description=Run Observium notifications service
Requires=observium-notifications.service

[Timer]
Unit=observium-notifications.service
#OnCalendar=*-*-* *:*:00 # every 1 minute
OnUnitInactiveSec=30s
RandomizedDelaySec=5s
AccuracySec=1s

[Install]
WantedBy=timers.target
