[Unit]
Description=Send Observium notifications
Wants=observium-notifications.timer

[Service]
Type=oneshot
ExecStart=/opt/observium/notifications.php -q

[Install]
WantedBy=multi-user.target
