.operation-container {
	position : relative;
	width:100% !important;
}

.operations{
	display : none;
	z-index:1000;
    border-radius:.25rem;
    -moz-border-radius:.25rem;
    -webkit-border-radius:.25rem;
	-op-border-radius:.25rem;
	color : #000;
	position: absolute;
	background-color:#fff;
	border: 1px solid rgba(0,0,0,.15);
	padding: 10px;
	min-width: 10rem;
	top:30%;
}

.operationsImg{
	cursor: pointer;
}

span.metal-error-limit{
	margin:10px 0;
	display:block;
	color : #D24625;
}

.metal-btn-remove {
	margin-left: 3px;
}
