/* glue: 0.13 hash: 098e501dbf */
        .sprite-workstation,
.sprite-wifi,
.sprite-watts,
.sprite-watch,
.sprite-vrfs,
.sprite-vrf,
.sprite-volume,
.sprite-voltampsreactive,
.sprite-voltamps,
.sprite-voltampreactive,
.sprite-voltage,
.sprite-voice,
.sprite-vlan,
.sprite-virtual-machine,
.sprite-video,
.sprite-users,
.sprite-user-self,
.sprite-user-log,
.sprite-user-edit,
.sprite-user-delete,
.sprite-user-add,
.sprite-tunnel,
.sprite-transit,
.sprite-traffic,
.sprite-tools,
.sprite-temperature,
.sprite-syslog,
.sprite-syslog-rules,
.sprite-syslog-alerts,
.sprite-switching,
.sprite-support,
.sprite-sun,
.sprite-storage,
.sprite-storage-io,
.sprite-status,
.sprite-split,
.sprite-sort,
.sprite-sliders,
.sprite-sliders-2,
.sprite-sla,
.sprite-sla-2,
.sprite-shutdown,
.sprite-settings,
.sprite-settings-3,
.sprite-service,
.sprite-servers,
.sprite-server,
.sprite-security,
.sprite-search,
.sprite-scheduled-maintenance,
.sprite-runtime,
.sprite-routing,
.sprite-return,
.sprite-refresh,
.sprite-question,
.sprite-qos,
.sprite-pseudowire,
.sprite-processor,
.sprite-processes,
.sprite-probes,
.sprite-printer,
.sprite-printer-supplies,
.sprite-printer-supplies-2,
.sprite-pressure,
.sprite-power,
.sprite-plus,
.sprite-performance,
.sprite-percent,
.sprite-peers,
.sprite-peering,
.sprite-peering-transit,
.sprite-paper-plane,
.sprite-packages,
.sprite-package,
.sprite-overview,
.sprite-ospf,
.sprite-ok,
.sprite-ohms,
.sprite-ohms-2,
.sprite-notes,
.sprite-note,
.sprite-nodes,
.sprite-nic,
.sprite-network,
.sprite-netmap,
.sprite-neighbours,
.sprite-mute,
.sprite-munin,
.sprite-move,
.sprite-moon,
.sprite-module,
.sprite-minus,
.sprite-merge,
.sprite-mempool,
.sprite-memory,
.sprite-map,
.sprite-map-2,
.sprite-management,
.sprite-mail,
.sprite-logs,
.sprite-logout,
.sprite-logic-or,
.sprite-logic-and,
.sprite-lock,
.sprite-locations,
.sprite-loadbalancer,
.sprite-loadbalancer-2,
.sprite-lightning,
.sprite-light-bulb,
.sprite-laser,
.sprite-ipv6,
.sprite-ipv4,
.sprite-inventory,
.sprite-info,
.sprite-important,
.sprite-ignore,
.sprite-icons8_test_passed,
.sprite-icons8_survey,
.sprite-icons8_stacked_organizational_chart_highlighted_first_node,
.sprite-icons8_pipeline,
.sprite-icons8_load_resume_template,
.sprite-icons8_audit,
.sprite-humidity,
.sprite-hub,
.sprite-hourglass,
.sprite-health,
.sprite-groups,
.sprite-graphs,
.sprite-graphs-stacked,
.sprite-graphs-small,
.sprite-graphs-line,
.sprite-graphs-large,
.sprite-globe,
.sprite-globe-light,
.sprite-funnel,
.sprite-frequency,
.sprite-frequency-2,
.sprite-flowrate,
.sprite-flag,
.sprite-firewall,
.sprite-firewall-2,
.sprite-fanspeed,
.sprite-export,
.sprite-exclamation-mark,
.sprite-eventlog,
.sprite-ethernet,
.sprite-ethernet-off,
.sprite-error,
.sprite-eigrp,
.sprite-dnd,
.sprite-distance,
.sprite-devices,
.sprite-device,
.sprite-databases,
.sprite-database,
.sprite-data,
.sprite-customoid,
.sprite-customer,
.sprite-current,
.sprite-cross-connect,
.sprite-counter,
.sprite-core,
.sprite-contacts,
.sprite-connected,
.sprite-config,
.sprite-communication,
.sprite-collectd,
.sprite-cogs,
.sprite-cog,
.sprite-clock,
.sprite-checked,
.sprite-cef,
.sprite-cbqos,
.sprite-capacity,
.sprite-cancel,
.sprite-cable,
.sprite-building,
.sprite-billing,
.sprite-bgp,
.sprite-bgp-internal,
.sprite-bgp-external,
.sprite-bgp-alerts,
.sprite-bgp-afi,
.sprite-asterisk,
.sprite-applications,
.sprite-antenna,
.sprite-amps,
.sprite-america,
.sprite-alert,
.sprite-alert-rules,
.sprite-alert-log,
.sprite-airflow,
.sprite-accounting {
            background-image: url('../img/sprite/svg_png.png');
            background-repeat: no-repeat;
        }
        
        .sprite-workstation {
            background-position: 0 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-wifi {
            background-position: -18px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-watts {
            background-position: 0 -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-watch {
            background-position: -18px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-vrfs {
            background-position: -36px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-vrf {
            background-position: -36px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-volume {
            background-position: 0 -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-voltampsreactive {
            background-position: -18px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-voltamps {
            background-position: -36px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-voltampreactive {
            background-position: -54px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-voltage {
            background-position: -54px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-voice {
            background-position: -54px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-vlan {
            background-position: 0 -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-virtual-machine {
            background-position: -18px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-video {
            background-position: -36px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-users {
            background-position: -54px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-user-self {
            background-position: -72px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-user-log {
            background-position: -72px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-user-edit {
            background-position: -72px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-user-delete {
            background-position: -72px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-user-add {
            background-position: 0 -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-tunnel {
            background-position: -18px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-transit {
            background-position: -36px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-traffic {
            background-position: -54px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-tools {
            background-position: -72px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-temperature {
            background-position: -90px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-syslog {
            background-position: -90px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-syslog-rules {
            background-position: -90px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-syslog-alerts {
            background-position: -90px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-switching {
            background-position: -90px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-support {
            background-position: 0 -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-sun {
            background-position: -18px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-storage {
            background-position: -36px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-storage-io {
            background-position: -54px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-status {
            background-position: -72px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-split {
            background-position: -90px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-sort {
            background-position: -108px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-sliders {
            background-position: -108px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-sliders-2 {
            background-position: -108px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-sla {
            background-position: -108px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-sla-2 {
            background-position: -108px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-shutdown {
            background-position: -108px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-settings {
            background-position: 0 -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-settings-3 {
            background-position: -18px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-service {
            background-position: -36px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-servers {
            background-position: -54px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-server {
            background-position: -72px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-security {
            background-position: -90px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-search {
            background-position: -108px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-scheduled-maintenance {
            background-position: -126px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-runtime {
            background-position: -126px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-routing {
            background-position: -126px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-return {
            background-position: -126px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-refresh {
            background-position: -126px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-question {
            background-position: -126px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-qos {
            background-position: -126px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-pseudowire {
            background-position: 0 -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-processor {
            background-position: -18px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-processes {
            background-position: -36px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-probes {
            background-position: -54px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-printer {
            background-position: -72px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-printer-supplies {
            background-position: -90px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-printer-supplies-2 {
            background-position: -108px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-pressure {
            background-position: -126px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-power {
            background-position: -144px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-plus {
            background-position: -144px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-performance {
            background-position: -144px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-percent {
            background-position: -144px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-peers {
            background-position: -144px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-peering {
            background-position: -144px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-peering-transit {
            background-position: -144px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-paper-plane {
            background-position: -144px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-packages {
            background-position: 0 -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-package {
            background-position: -18px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-overview {
            background-position: -36px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ospf {
            background-position: -54px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ok {
            background-position: -72px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ohms {
            background-position: -90px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ohms-2 {
            background-position: -108px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-notes {
            background-position: -126px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-note {
            background-position: -144px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-nodes {
            background-position: -162px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-nic {
            background-position: -162px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-network {
            background-position: -162px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-netmap {
            background-position: -162px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-neighbours {
            background-position: -162px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-mute {
            background-position: -162px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-munin {
            background-position: -162px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-move {
            background-position: -162px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-moon {
            background-position: -162px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-module {
            background-position: 0 -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-minus {
            background-position: -18px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-merge {
            background-position: -36px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-mempool {
            background-position: -54px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-memory {
            background-position: -72px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-map {
            background-position: -90px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-map-2 {
            background-position: -108px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-management {
            background-position: -126px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-mail {
            background-position: -144px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-logs {
            background-position: -162px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-logout {
            background-position: -180px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-logic-or {
            background-position: -180px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-logic-and {
            background-position: -180px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-lock {
            background-position: -180px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-locations {
            background-position: -180px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-loadbalancer {
            background-position: -180px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-loadbalancer-2 {
            background-position: -180px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-lightning {
            background-position: -180px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-light-bulb {
            background-position: -180px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-laser {
            background-position: -180px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ipv6 {
            background-position: 0 -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ipv4 {
            background-position: -18px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-inventory {
            background-position: -36px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-info {
            background-position: -54px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-important {
            background-position: -72px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ignore {
            background-position: -90px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons8_test_passed {
            background-position: -108px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons8_survey {
            background-position: -126px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons8_stacked_organizational_chart_highlighted_first_node {
            background-position: -144px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons8_pipeline {
            background-position: -162px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons8_load_resume_template {
            background-position: -180px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-icons8_audit {
            background-position: -198px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-humidity {
            background-position: -198px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-hub {
            background-position: -198px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-hourglass {
            background-position: -198px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-health {
            background-position: -198px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-groups {
            background-position: -198px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-graphs {
            background-position: -198px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-graphs-stacked {
            background-position: -198px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-graphs-small {
            background-position: -198px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-graphs-line {
            background-position: -198px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-graphs-large {
            background-position: -198px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-globe {
            background-position: 0 -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-globe-light {
            background-position: -18px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-funnel {
            background-position: -36px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-frequency {
            background-position: -54px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-frequency-2 {
            background-position: -72px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-flowrate {
            background-position: -90px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-flag {
            background-position: -108px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-firewall {
            background-position: -126px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-firewall-2 {
            background-position: -144px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-fanspeed {
            background-position: -162px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-export {
            background-position: -180px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-exclamation-mark {
            background-position: -198px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-eventlog {
            background-position: -216px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ethernet {
            background-position: -216px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-ethernet-off {
            background-position: -216px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-error {
            background-position: -216px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-eigrp {
            background-position: -216px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-dnd {
            background-position: -216px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-distance {
            background-position: -216px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-devices {
            background-position: -216px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-device {
            background-position: -216px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-databases {
            background-position: -216px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-database {
            background-position: -216px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-data {
            background-position: -216px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-customoid {
            background-position: 0 -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-customer {
            background-position: -18px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-current {
            background-position: -36px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-cross-connect {
            background-position: -54px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-counter {
            background-position: -72px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-core {
            background-position: -90px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-contacts {
            background-position: -108px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-connected {
            background-position: -126px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-config {
            background-position: -144px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-communication {
            background-position: -162px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-collectd {
            background-position: -180px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-cogs {
            background-position: -198px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-cog {
            background-position: -216px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-clock {
            background-position: -234px 0;
            width: 18px;
            height: 18px;
        }
        
        .sprite-checked {
            background-position: -234px -18px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-cef {
            background-position: -234px -36px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-cbqos {
            background-position: -234px -54px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-capacity {
            background-position: -234px -72px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-cancel {
            background-position: -234px -90px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-cable {
            background-position: -234px -108px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-building {
            background-position: -234px -126px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-billing {
            background-position: -234px -144px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-bgp {
            background-position: -234px -162px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-bgp-internal {
            background-position: -234px -180px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-bgp-external {
            background-position: -234px -198px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-bgp-alerts {
            background-position: -234px -216px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-bgp-afi {
            background-position: 0 -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-asterisk {
            background-position: -18px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-applications {
            background-position: -36px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-antenna {
            background-position: -54px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-amps {
            background-position: -72px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-america {
            background-position: -90px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-alert {
            background-position: -108px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-alert-rules {
            background-position: -126px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-alert-log {
            background-position: -144px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-airflow {
            background-position: -162px -234px;
            width: 18px;
            height: 18px;
        }
        
        .sprite-accounting {
            background-position: -180px -234px;
            width: 18px;
            height: 18px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-workstation,
    .sprite-wifi,
    .sprite-watts,
    .sprite-watch,
    .sprite-vrfs,
    .sprite-vrf,
    .sprite-volume,
    .sprite-voltampsreactive,
    .sprite-voltamps,
    .sprite-voltampreactive,
    .sprite-voltage,
    .sprite-voice,
    .sprite-vlan,
    .sprite-virtual-machine,
    .sprite-video,
    .sprite-users,
    .sprite-user-self,
    .sprite-user-log,
    .sprite-user-edit,
    .sprite-user-delete,
    .sprite-user-add,
    .sprite-tunnel,
    .sprite-transit,
    .sprite-traffic,
    .sprite-tools,
    .sprite-temperature,
    .sprite-syslog,
    .sprite-syslog-rules,
    .sprite-syslog-alerts,
    .sprite-switching,
    .sprite-support,
    .sprite-sun,
    .sprite-storage,
    .sprite-storage-io,
    .sprite-status,
    .sprite-split,
    .sprite-sort,
    .sprite-sliders,
    .sprite-sliders-2,
    .sprite-sla,
    .sprite-sla-2,
    .sprite-shutdown,
    .sprite-settings,
    .sprite-settings-3,
    .sprite-service,
    .sprite-servers,
    .sprite-server,
    .sprite-security,
    .sprite-search,
    .sprite-scheduled-maintenance,
    .sprite-runtime,
    .sprite-routing,
    .sprite-return,
    .sprite-refresh,
    .sprite-question,
    .sprite-qos,
    .sprite-pseudowire,
    .sprite-processor,
    .sprite-processes,
    .sprite-probes,
    .sprite-printer,
    .sprite-printer-supplies,
    .sprite-printer-supplies-2,
    .sprite-pressure,
    .sprite-power,
    .sprite-plus,
    .sprite-performance,
    .sprite-percent,
    .sprite-peers,
    .sprite-peering,
    .sprite-peering-transit,
    .sprite-paper-plane,
    .sprite-packages,
    .sprite-package,
    .sprite-overview,
    .sprite-ospf,
    .sprite-ok,
    .sprite-ohms,
    .sprite-ohms-2,
    .sprite-notes,
    .sprite-note,
    .sprite-nodes,
    .sprite-nic,
    .sprite-network,
    .sprite-netmap,
    .sprite-neighbours,
    .sprite-mute,
    .sprite-munin,
    .sprite-move,
    .sprite-moon,
    .sprite-module,
    .sprite-minus,
    .sprite-merge,
    .sprite-mempool,
    .sprite-memory,
    .sprite-map,
    .sprite-map-2,
    .sprite-management,
    .sprite-mail,
    .sprite-logs,
    .sprite-logout,
    .sprite-logic-or,
    .sprite-logic-and,
    .sprite-lock,
    .sprite-locations,
    .sprite-loadbalancer,
    .sprite-loadbalancer-2,
    .sprite-lightning,
    .sprite-light-bulb,
    .sprite-laser,
    .sprite-ipv6,
    .sprite-ipv4,
    .sprite-inventory,
    .sprite-info,
    .sprite-important,
    .sprite-ignore,
    .sprite-icons8_test_passed,
    .sprite-icons8_survey,
    .sprite-icons8_stacked_organizational_chart_highlighted_first_node,
    .sprite-icons8_pipeline,
    .sprite-icons8_load_resume_template,
    .sprite-icons8_audit,
    .sprite-humidity,
    .sprite-hub,
    .sprite-hourglass,
    .sprite-health,
    .sprite-groups,
    .sprite-graphs,
    .sprite-graphs-stacked,
    .sprite-graphs-small,
    .sprite-graphs-line,
    .sprite-graphs-large,
    .sprite-globe,
    .sprite-globe-light,
    .sprite-funnel,
    .sprite-frequency,
    .sprite-frequency-2,
    .sprite-flowrate,
    .sprite-flag,
    .sprite-firewall,
    .sprite-firewall-2,
    .sprite-fanspeed,
    .sprite-export,
    .sprite-exclamation-mark,
    .sprite-eventlog,
    .sprite-ethernet,
    .sprite-ethernet-off,
    .sprite-error,
    .sprite-eigrp,
    .sprite-dnd,
    .sprite-distance,
    .sprite-devices,
    .sprite-device,
    .sprite-databases,
    .sprite-database,
    .sprite-data,
    .sprite-customoid,
    .sprite-customer,
    .sprite-current,
    .sprite-cross-connect,
    .sprite-counter,
    .sprite-core,
    .sprite-contacts,
    .sprite-connected,
    .sprite-config,
    .sprite-communication,
    .sprite-collectd,
    .sprite-cogs,
    .sprite-cog,
    .sprite-clock,
    .sprite-checked,
    .sprite-cef,
    .sprite-cbqos,
    .sprite-capacity,
    .sprite-cancel,
    .sprite-cable,
    .sprite-building,
    .sprite-billing,
    .sprite-bgp,
    .sprite-bgp-internal,
    .sprite-bgp-external,
    .sprite-bgp-alerts,
    .sprite-bgp-afi,
    .sprite-asterisk,
    .sprite-applications,
    .sprite-antenna,
    .sprite-amps,
    .sprite-america,
    .sprite-alert,
    .sprite-alert-rules,
    .sprite-alert-log,
    .sprite-airflow,
    .sprite-accounting {
                background-image: url('../img/sprite/svg_png.png');
                -webkit-background-size: 252px 252px;
                -moz-background-size: 252px 252px;
                background-size: 252px 252px;
            }
        }
        @media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 1.5dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('../img/sprite/svg_png_27.png');
 }
}
 
 
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('../img/sprite/svg_png_36.png');
 }
}
 
@media
only screen and (-webkit-min-device-pixel-ratio: 2.5),
only screen and (   min--moz-device-pixel-ratio: 2.5),
only screen and (        min-device-pixel-ratio: 2.5),
only screen and (                min-resolution: 240dpi),
only screen and (                min-resolution: 2.5dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('../img/sprite/svg_png_45.png');
 }
}
 
@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (        min-device-pixel-ratio: 3),
only screen and (                min-resolution: 288dpi),
only screen and (                min-resolution: 3dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('../img/sprite/svg_png_54.png');
 }
}
