.sprite-accounting {
    background: url("svg-sprite.svg") 0 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-airflow {
    background: url("svg-sprite.svg") 7.6923076923076925% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-alert {
    background: url("svg-sprite.svg") 0 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-alert-log {
    background: url("svg-sprite.svg") 7.6923076923076925% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-alert-rules {
    background: url("svg-sprite.svg") 15.384615384615385% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-america {
    background: url("svg-sprite.svg") 15.384615384615385% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-amps {
    background: url("svg-sprite.svg") 0 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-antenna {
    background: url("svg-sprite.svg") 7.6923076923076925% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-applications {
    background: url("svg-sprite.svg") 15.384615384615385% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-asterisk {
    background: url("svg-sprite.svg") 23.076923076923077% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-audit {
    background: url("svg-sprite.svg") 23.076923076923077% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-bgp {
    background: url("svg-sprite.svg") 23.076923076923077% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-bgp-afi {
    background: url("svg-sprite.svg") 0 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-bgp-alerts {
    background: url("svg-sprite.svg") 7.6923076923076925% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-bgp-external {
    background: url("svg-sprite.svg") 15.384615384615385% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-bgp-internal {
    background: url("svg-sprite.svg") 23.076923076923077% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-billing {
    background: url("svg-sprite.svg") 30.76923076923077% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-building {
    background: url("svg-sprite.svg") 30.76923076923077% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-cable {
    background: url("svg-sprite.svg") 30.76923076923077% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-cancel {
    background: url("svg-sprite.svg") 30.76923076923077% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-capacity {
    background: url("svg-sprite.svg") 0 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-cbqos {
    background: url("svg-sprite.svg") 7.6923076923076925% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-cef {
    background: url("svg-sprite.svg") 15.384615384615385% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-checked {
    background: url("svg-sprite.svg") 23.076923076923077% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-clock {
    background: url("svg-sprite.svg") 30.76923076923077% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-cog {
    background: url("svg-sprite.svg") 38.46153846153846% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-cogs {
    background: url("svg-sprite.svg") 38.46153846153846% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-collectd {
    background: url("svg-sprite.svg") 38.46153846153846% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-communication {
    background: url("svg-sprite.svg") 38.46153846153846% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-config {
    background: url("svg-sprite.svg") 38.46153846153846% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-connected {
    background: url("svg-sprite.svg") 0 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-contacts {
    background: url("svg-sprite.svg") 7.6923076923076925% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-core {
    background: url("svg-sprite.svg") 15.384615384615385% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-counter {
    background: url("svg-sprite.svg") 23.076923076923077% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-cross-connect {
    background: url("svg-sprite.svg") 30.76923076923077% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-current {
    background: url("svg-sprite.svg") 38.46153846153846% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-customer {
    background: url("svg-sprite.svg") 46.15384615384615% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-customoid {
    background: url("svg-sprite.svg") 46.15384615384615% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-data {
    background: url("svg-sprite.svg") 46.15384615384615% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-database {
    background: url("svg-sprite.svg") 46.15384615384615% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-databases {
    background: url("svg-sprite.svg") 46.15384615384615% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-device {
    background: url("svg-sprite.svg") 46.15384615384615% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-devices {
    background: url("svg-sprite.svg") 0 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-distance {
    background: url("svg-sprite.svg") 7.6923076923076925% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-dnd {
    background: url("svg-sprite.svg") 15.384615384615385% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-eigrp {
    background: url("svg-sprite.svg") 23.076923076923077% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-error {
    background: url("svg-sprite.svg") 30.76923076923077% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ethernet {
    background: url("svg-sprite.svg") 38.46153846153846% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ethernet-off {
    background: url("svg-sprite.svg") 46.15384615384615% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-eventlog {
    background: url("svg-sprite.svg") 53.84615384615385% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-exclamation-mark {
    background: url("svg-sprite.svg") 53.84615384615385% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-export {
    background: url("svg-sprite.svg") 53.84615384615385% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-fanspeed {
    background: url("svg-sprite.svg") 53.84615384615385% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-firewall {
    background: url("svg-sprite.svg") 53.84615384615385% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-firewall-2 {
    background: url("svg-sprite.svg") 53.84615384615385% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-flag {
    background: url("svg-sprite.svg") 53.84615384615385% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-flowrate {
    background: url("svg-sprite.svg") 0 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-frequency {
    background: url("svg-sprite.svg") 7.6923076923076925% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-frequency-2 {
    background: url("svg-sprite.svg") 15.384615384615385% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-funnel {
    background: url("svg-sprite.svg") 23.076923076923077% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-globe {
    background: url("svg-sprite.svg") 30.76923076923077% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-globe-light {
    background: url("svg-sprite.svg") 38.46153846153846% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-graphs {
    background: url("svg-sprite.svg") 46.15384615384615% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-graphs-large {
    background: url("svg-sprite.svg") 53.84615384615385% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-graphs-line {
    background: url("svg-sprite.svg") 61.53846153846154% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-graphs-small {
    background: url("svg-sprite.svg") 61.53846153846154% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-graphs-stacked {
    background: url("svg-sprite.svg") 61.53846153846154% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-groups {
    background: url("svg-sprite.svg") 61.53846153846154% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-health {
    background: url("svg-sprite.svg") 61.53846153846154% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-hourglass {
    background: url("svg-sprite.svg") 61.53846153846154% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-hub {
    background: url("svg-sprite.svg") 61.53846153846154% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-humidity {
    background: url("svg-sprite.svg") 61.53846153846154% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ignore {
    background: url("svg-sprite.svg") 0 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-important {
    background: url("svg-sprite.svg") 7.6923076923076925% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-info {
    background: url("svg-sprite.svg") 15.384615384615385% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-inventory {
    background: url("svg-sprite.svg") 23.076923076923077% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ipv4 {
    background: url("svg-sprite.svg") 30.76923076923077% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ipv6 {
    background: url("svg-sprite.svg") 38.46153846153846% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-laser {
    background: url("svg-sprite.svg") 46.15384615384615% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-light-bulb {
    background: url("svg-sprite.svg") 53.84615384615385% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-lightning {
    background: url("svg-sprite.svg") 61.53846153846154% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-load_resume_template {
    background: url("svg-sprite.svg") 69.23076923076923% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-loadbalancer {
    background: url("svg-sprite.svg") 69.23076923076923% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-loadbalancer-2 {
    background: url("svg-sprite.svg") 69.23076923076923% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-locations {
    background: url("svg-sprite.svg") 69.23076923076923% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-lock {
    background: url("svg-sprite.svg") 69.23076923076923% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-logic-and {
    background: url("svg-sprite.svg") 69.23076923076923% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-logic-or {
    background: url("svg-sprite.svg") 69.23076923076923% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-logout {
    background: url("svg-sprite.svg") 69.23076923076923% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-logs {
    background: url("svg-sprite.svg") 69.23076923076923% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-mail {
    background: url("svg-sprite.svg") 0 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-management {
    background: url("svg-sprite.svg") 7.6923076923076925% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-map {
    background: url("svg-sprite.svg") 15.384615384615385% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-map-2 {
    background: url("svg-sprite.svg") 23.076923076923077% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-memory {
    background: url("svg-sprite.svg") 30.76923076923077% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-mempool {
    background: url("svg-sprite.svg") 38.46153846153846% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-merge {
    background: url("svg-sprite.svg") 46.15384615384615% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-minus {
    background: url("svg-sprite.svg") 53.84615384615385% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-module {
    background: url("svg-sprite.svg") 61.53846153846154% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-moon {
    background: url("svg-sprite.svg") 69.23076923076923% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-move {
    background: url("svg-sprite.svg") 76.92307692307692% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-munin {
    background: url("svg-sprite.svg") 76.92307692307692% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-mute {
    background: url("svg-sprite.svg") 76.92307692307692% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-neighbours {
    background: url("svg-sprite.svg") 76.92307692307692% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-netmap {
    background: url("svg-sprite.svg") 76.92307692307692% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-network {
    background: url("svg-sprite.svg") 76.92307692307692% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-nic {
    background: url("svg-sprite.svg") 76.92307692307692% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-nodes {
    background: url("svg-sprite.svg") 76.92307692307692% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-note {
    background: url("svg-sprite.svg") 76.92307692307692% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-notes {
    background: url("svg-sprite.svg") 76.92307692307692% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ohms {
    background: url("svg-sprite.svg") 0 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ohms-2 {
    background: url("svg-sprite.svg") 7.6923076923076925% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ok {
    background: url("svg-sprite.svg") 15.384615384615385% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-ospf {
    background: url("svg-sprite.svg") 23.076923076923077% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-overview {
    background: url("svg-sprite.svg") 30.76923076923077% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-package {
    background: url("svg-sprite.svg") 38.46153846153846% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-packages {
    background: url("svg-sprite.svg") 46.15384615384615% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-paper-plane {
    background: url("svg-sprite.svg") 53.84615384615385% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-peering {
    background: url("svg-sprite.svg") 61.53846153846154% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-peering-transit {
    background: url("svg-sprite.svg") 69.23076923076923% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-peers {
    background: url("svg-sprite.svg") 76.92307692307692% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-percent {
    background: url("svg-sprite.svg") 84.61538461538461% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-performance {
    background: url("svg-sprite.svg") 84.61538461538461% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-pipeline {
    background: url("svg-sprite.svg") 84.61538461538461% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-plus {
    background: url("svg-sprite.svg") 84.61538461538461% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-power {
    background: url("svg-sprite.svg") 84.61538461538461% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-pressure {
    background: url("svg-sprite.svg") 84.61538461538461% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-printer {
    background: url("svg-sprite.svg") 84.61538461538461% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-printer-supplies {
    background: url("svg-sprite.svg") 84.61538461538461% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-printer-supplies-2 {
    background: url("svg-sprite.svg") 84.61538461538461% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-probes {
    background: url("svg-sprite.svg") 84.61538461538461% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-processes {
    background: url("svg-sprite.svg") 84.61538461538461% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-processor {
    background: url("svg-sprite.svg") 0 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-pseudowire {
    background: url("svg-sprite.svg") 7.6923076923076925% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-qos {
    background: url("svg-sprite.svg") 15.384615384615385% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-question {
    background: url("svg-sprite.svg") 23.076923076923077% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-refresh {
    background: url("svg-sprite.svg") 30.76923076923077% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-return {
    background: url("svg-sprite.svg") 38.46153846153846% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-routing {
    background: url("svg-sprite.svg") 46.15384615384615% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-runtime {
    background: url("svg-sprite.svg") 53.84615384615385% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-scheduled-maintenance {
    background: url("svg-sprite.svg") 61.53846153846154% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-search {
    background: url("svg-sprite.svg") 69.23076923076923% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-security {
    background: url("svg-sprite.svg") 76.92307692307692% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-server {
    background: url("svg-sprite.svg") 84.61538461538461% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-servers {
    background: url("svg-sprite.svg") 92.3076923076923% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-service {
    background: url("svg-sprite.svg") 92.3076923076923% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-settings {
    background: url("svg-sprite.svg") 92.3076923076923% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-settings-3 {
    background: url("svg-sprite.svg") 92.3076923076923% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-shutdown {
    background: url("svg-sprite.svg") 92.3076923076923% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-sla {
    background: url("svg-sprite.svg") 92.3076923076923% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-sla-2 {
    background: url("svg-sprite.svg") 92.3076923076923% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-sliders {
    background: url("svg-sprite.svg") 92.3076923076923% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-sliders-2 {
    background: url("svg-sprite.svg") 92.3076923076923% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-sort {
    background: url("svg-sprite.svg") 92.3076923076923% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-split {
    background: url("svg-sprite.svg") 92.3076923076923% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-stacked_organizational_chart_highlighted_first_node {
    background: url("svg-sprite.svg") 92.3076923076923% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-status {
    background: url("svg-sprite.svg") 0 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-storage {
    background: url("svg-sprite.svg") 7.6923076923076925% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-storage-io {
    background: url("svg-sprite.svg") 15.384615384615385% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-sun {
    background: url("svg-sprite.svg") 23.076923076923077% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-support {
    background: url("svg-sprite.svg") 30.76923076923077% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-survey {
    background: url("svg-sprite.svg") 38.46153846153846% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-switching {
    background: url("svg-sprite.svg") 46.15384615384615% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-syslog {
    background: url("svg-sprite.svg") 53.84615384615385% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-syslog-alerts {
    background: url("svg-sprite.svg") 61.53846153846154% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-syslog-rules {
    background: url("svg-sprite.svg") 69.23076923076923% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-temperature {
    background: url("svg-sprite.svg") 76.92307692307692% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-test_passed {
    background: url("svg-sprite.svg") 84.61538461538461% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-tools {
    background: url("svg-sprite.svg") 92.3076923076923% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-traffic {
    background: url("svg-sprite.svg") 100% 0 no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-transit {
    background: url("svg-sprite.svg") 100% 7.6923076923076925% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-tunnel {
    background: url("svg-sprite.svg") 100% 15.384615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-user-add {
    background: url("svg-sprite.svg") 100% 23.076923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-user-delete {
    background: url("svg-sprite.svg") 100% 30.76923076923077% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-user-edit {
    background: url("svg-sprite.svg") 100% 38.46153846153846% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-user-log {
    background: url("svg-sprite.svg") 100% 46.15384615384615% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-user-self {
    background: url("svg-sprite.svg") 100% 53.84615384615385% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-users {
    background: url("svg-sprite.svg") 100% 61.53846153846154% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-video {
    background: url("svg-sprite.svg") 100% 69.23076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-virtual-machine {
    background: url("svg-sprite.svg") 100% 76.92307692307692% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-vlan {
    background: url("svg-sprite.svg") 100% 84.61538461538461% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-voice {
    background: url("svg-sprite.svg") 100% 92.3076923076923% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-voltage {
    background: url("svg-sprite.svg") 0 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-voltampreactive {
    background: url("svg-sprite.svg") 7.6923076923076925% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-voltamps {
    background: url("svg-sprite.svg") 15.384615384615385% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-voltampsreactive {
    background: url("svg-sprite.svg") 23.076923076923077% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-volume {
    background: url("svg-sprite.svg") 30.76923076923077% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-vrf {
    background: url("svg-sprite.svg") 38.46153846153846% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-vrfs {
    background: url("svg-sprite.svg") 46.15384615384615% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-watch {
    background: url("svg-sprite.svg") 53.84615384615385% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-watts {
    background: url("svg-sprite.svg") 61.53846153846154% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-wifi {
    background: url("svg-sprite.svg") 69.23076923076923% 100% no-repeat;
    width: 18px;
    height: 18px;
}

.sprite-workstation {
    background: url("svg-sprite.svg") 76.92307692307692% 100% no-repeat;
    width: 18px;
    height: 18px;
}


.hue-0 {
  filter: hue-rotate(0deg) saturate(1);
}

.hue-45 {
  filter: hue-rotate(45deg) saturate(1.5);
}

.hue-90 {
  filter: hue-rotate(90deg) saturate(1.5);
}

.hue-135 {
  filter: hue-rotate(135deg) saturate(1.5);
}

.hue-180 {
  filter: hue-rotate(180deg) saturate(1);
}

.hue-240 {
  filter: hue-rotate(240deg) saturate(1);
}

.hue-285 {
  filter: hue-rotate(285deg) saturate(1.5);
}
