/* glue: 0.4 hash: 26c41b2771 */
[class^="sprite-"], [class*=" sprite-"] { display: inline-block; background-image: url("../img/svg_png.png");  background-position: 18px 18px;  background-repeat: no-repeat; }.sprite-workstation{background-position:0px 0px;width:18px;height:18px;}
.sprite-wifi{background-position:-18px 0px;width:18px;height:18px;}
.sprite-watts{background-position:0px -18px;width:18px;height:18px;}
.sprite-vrf{background-position:-18px -18px;width:18px;height:18px;}
.sprite-volume{background-position:-36px 0px;width:18px;height:18px;}
.sprite-voltamps{background-position:-36px -18px;width:18px;height:18px;}
.sprite-voltampreactive{background-position:0px -36px;width:18px;height:18px;}
.sprite-voltage{background-position:-18px -36px;width:18px;height:18px;}
.sprite-voice{background-position:-36px -36px;width:18px;height:18px;}
.sprite-vlan{background-position:-54px 0px;width:18px;height:18px;}
.sprite-virtual-machine{background-position:-54px -18px;width:18px;height:18px;}
.sprite-video{background-position:-54px -36px;width:18px;height:18px;}
.sprite-users{background-position:0px -54px;width:18px;height:18px;}
.sprite-user-self{background-position:-18px -54px;width:18px;height:18px;}
.sprite-user-log{background-position:-36px -54px;width:18px;height:18px;}
.sprite-user-edit{background-position:-54px -54px;width:18px;height:18px;}
.sprite-user-delete{background-position:-72px 0px;width:18px;height:18px;}
.sprite-user-add{background-position:-72px -18px;width:18px;height:18px;}
.sprite-traffic{background-position:-72px -36px;width:18px;height:18px;}
.sprite-tools{background-position:-72px -54px;width:18px;height:18px;}
.sprite-temperature{background-position:0px -72px;width:18px;height:18px;}
.sprite-syslog{background-position:-18px -72px;width:18px;height:18px;}
.sprite-syslog-rules{background-position:-36px -72px;width:18px;height:18px;}
.sprite-syslog-alerts{background-position:-54px -72px;width:18px;height:18px;}
.sprite-switching{background-position:-72px -72px;width:18px;height:18px;}
.sprite-support{background-position:-90px 0px;width:18px;height:18px;}
.sprite-storage{background-position:-90px -18px;width:18px;height:18px;}
.sprite-storage-io{background-position:-90px -36px;width:18px;height:18px;}
.sprite-status{background-position:-90px -54px;width:18px;height:18px;}
.sprite-split{background-position:-90px -72px;width:18px;height:18px;}
.sprite-sort{background-position:0px -90px;width:18px;height:18px;}
.sprite-sliders{background-position:-18px -90px;width:18px;height:18px;}
.sprite-sliders-2{background-position:-36px -90px;width:18px;height:18px;}
.sprite-sla{background-position:-54px -90px;width:18px;height:18px;}
.sprite-sla-2{background-position:-72px -90px;width:18px;height:18px;}
.sprite-shutdown{background-position:-90px -90px;width:18px;height:18px;}
.sprite-settings{background-position:-108px 0px;width:18px;height:18px;}
.sprite-settings-3{background-position:-108px -18px;width:18px;height:18px;}
.sprite-service{background-position:-108px -36px;width:18px;height:18px;}
.sprite-security{background-position:-108px -54px;width:18px;height:18px;}
.sprite-search{background-position:-108px -72px;width:18px;height:18px;}
.sprite-scheduled-maintenance{background-position:-108px -90px;width:18px;height:18px;}
.sprite-runtime{background-position:0px -108px;width:18px;height:18px;}
.sprite-routing{background-position:-18px -108px;width:18px;height:18px;}
.sprite-return{background-position:-36px -108px;width:18px;height:18px;}
.sprite-refresh{background-position:-54px -108px;width:18px;height:18px;}
.sprite-question{background-position:-72px -108px;width:18px;height:18px;}
.sprite-qos{background-position:-90px -108px;width:18px;height:18px;}
.sprite-pseudowire{background-position:-108px -108px;width:18px;height:18px;}
.sprite-processor{background-position:-126px 0px;width:18px;height:18px;}
.sprite-processes{background-position:-126px -18px;width:18px;height:18px;}
.sprite-printer{background-position:-126px -36px;width:18px;height:18px;}
.sprite-printer-supplies{background-position:-126px -54px;width:18px;height:18px;}
.sprite-printer-supplies-2{background-position:-126px -72px;width:18px;height:18px;}
.sprite-pressure{background-position:-126px -90px;width:18px;height:18px;}
.sprite-power{background-position:-126px -108px;width:18px;height:18px;}
.sprite-plus{background-position:0px -126px;width:18px;height:18px;}
.sprite-performance{background-position:-18px -126px;width:18px;height:18px;}
.sprite-peers{background-position:-36px -126px;width:18px;height:18px;}
.sprite-paper-plane{background-position:-54px -126px;width:18px;height:18px;}
.sprite-package{background-position:-72px -126px;width:18px;height:18px;}
.sprite-overview{background-position:-90px -126px;width:18px;height:18px;}
.sprite-ospf{background-position:-108px -126px;width:18px;height:18px;}
.sprite-ok{background-position:-126px -126px;width:18px;height:18px;}
.sprite-ohms{background-position:-144px 0px;width:18px;height:18px;}
.sprite-ohms-2{background-position:-144px -18px;width:18px;height:18px;}
.sprite-note{background-position:-144px -36px;width:18px;height:18px;}
.sprite-nic{background-position:-144px -54px;width:18px;height:18px;}
.sprite-network{background-position:-144px -72px;width:18px;height:18px;}
.sprite-netmap{background-position:-144px -90px;width:18px;height:18px;}
.sprite-neighbours{background-position:-144px -108px;width:18px;height:18px;}
.sprite-munin{background-position:-144px -126px;width:18px;height:18px;}
.sprite-minus{background-position:0px -144px;width:18px;height:18px;}
.sprite-merge{background-position:-18px -144px;width:18px;height:18px;}
.sprite-mempool{background-position:-36px -144px;width:18px;height:18px;}
.sprite-memory{background-position:-54px -144px;width:18px;height:18px;}
.sprite-map{background-position:-72px -144px;width:18px;height:18px;}
.sprite-map-2{background-position:-90px -144px;width:18px;height:18px;}
.sprite-management{background-position:-108px -144px;width:18px;height:18px;}
.sprite-mail{background-position:-126px -144px;width:18px;height:18px;}
.sprite-logs{background-position:-144px -144px;width:18px;height:18px;}
.sprite-logout{background-position:-162px 0px;width:18px;height:18px;}
.sprite-logic-or{background-position:-162px -18px;width:18px;height:18px;}
.sprite-logic-and{background-position:-162px -36px;width:18px;height:18px;}
.sprite-lock{background-position:-162px -54px;width:18px;height:18px;}
.sprite-loadbalancer{background-position:-162px -72px;width:18px;height:18px;}
.sprite-loadbalancer-2{background-position:-162px -90px;width:18px;height:18px;}
.sprite-lightning{background-position:-162px -108px;width:18px;height:18px;}
.sprite-light-bulb{background-position:-162px -126px;width:18px;height:18px;}
.sprite-laser{background-position:-162px -144px;width:18px;height:18px;}
.sprite-ipv6{background-position:0px -162px;width:18px;height:18px;}
.sprite-ipv4{background-position:-18px -162px;width:18px;height:18px;}
.sprite-inventory{background-position:-36px -162px;width:18px;height:18px;}
.sprite-info{background-position:-54px -162px;width:18px;height:18px;}
.sprite-ignore{background-position:-72px -162px;width:18px;height:18px;}
.sprite-humidity{background-position:-90px -162px;width:18px;height:18px;}
.sprite-hub{background-position:-108px -162px;width:18px;height:18px;}
.sprite-health{background-position:-126px -162px;width:18px;height:18px;}
.sprite-groups{background-position:-144px -162px;width:18px;height:18px;}
.sprite-graphs{background-position:-162px -162px;width:18px;height:18px;}
.sprite-graphs-stacked{background-position:-180px 0px;width:18px;height:18px;}
.sprite-graphs-small{background-position:-180px -18px;width:18px;height:18px;}
.sprite-graphs-line{background-position:-180px -36px;width:18px;height:18px;}
.sprite-graphs-large{background-position:-180px -54px;width:18px;height:18px;}
.sprite-globe-light{background-position:-180px -72px;width:18px;height:18px;}
.sprite-funnel{background-position:-180px -90px;width:18px;height:18px;}
.sprite-frequency{background-position:-180px -108px;width:18px;height:18px;}
.sprite-frequency-2{background-position:-180px -126px;width:18px;height:18px;}
.sprite-flowrate{background-position:-180px -144px;width:18px;height:18px;}
.sprite-flag{background-position:-180px -162px;width:18px;height:18px;}
.sprite-firewall{background-position:0px -180px;width:18px;height:18px;}
.sprite-firewall-2{background-position:-18px -180px;width:18px;height:18px;}
.sprite-fanspeed{background-position:-36px -180px;width:18px;height:18px;}
.sprite-export{background-position:-54px -180px;width:18px;height:18px;}
.sprite-exclamation-mark{background-position:-72px -180px;width:18px;height:18px;}
.sprite-eventlog{background-position:-90px -180px;width:18px;height:18px;}
.sprite-ethernet{background-position:-108px -180px;width:18px;height:18px;}
.sprite-error{background-position:-126px -180px;width:18px;height:18px;}
.sprite-devices{background-position:-144px -180px;width:18px;height:18px;}
.sprite-device{background-position:-162px -180px;width:18px;height:18px;}
.sprite-databases{background-position:-180px -180px;width:18px;height:18px;}
.sprite-database{background-position:-198px 0px;width:18px;height:18px;}
.sprite-data{background-position:-198px -18px;width:18px;height:18px;}
.sprite-customoid{background-position:-198px -36px;width:18px;height:18px;}
.sprite-cross-connect{background-position:-198px -54px;width:18px;height:18px;}
.sprite-counter{background-position:-198px -72px;width:18px;height:18px;}
.sprite-contacts{background-position:-198px -90px;width:18px;height:18px;}
.sprite-connected{background-position:-198px -108px;width:18px;height:18px;}
.sprite-config{background-position:-198px -126px;width:18px;height:18px;}
.sprite-communication{background-position:-198px -144px;width:18px;height:18px;}
.sprite-collectd{background-position:-198px -162px;width:18px;height:18px;}
.sprite-cogs{background-position:-198px -180px;width:18px;height:18px;}
.sprite-clock{background-position:0px -198px;width:18px;height:18px;}
.sprite-checked{background-position:-18px -198px;width:18px;height:18px;}
.sprite-cef{background-position:-36px -198px;width:18px;height:18px;}
.sprite-cbqos{background-position:-54px -198px;width:18px;height:18px;}
.sprite-capacity{background-position:-72px -198px;width:18px;height:18px;}
.sprite-cancel{background-position:-90px -198px;width:18px;height:18px;}
.sprite-cable{background-position:-108px -198px;width:18px;height:18px;}
.sprite-building{background-position:-126px -198px;width:18px;height:18px;}
.sprite-billing{background-position:-144px -198px;width:18px;height:18px;}
.sprite-bgp{background-position:-162px -198px;width:18px;height:18px;}
.sprite-bgp-internal{background-position:-180px -198px;width:18px;height:18px;}
.sprite-bgp-external{background-position:-198px -198px;width:18px;height:18px;}
.sprite-bgp-alerts{background-position:-216px 0px;width:18px;height:18px;}
.sprite-asterisk{background-position:-216px -18px;width:18px;height:18px;}
.sprite-applications{background-position:-216px -36px;width:18px;height:18px;}
.sprite-antenna{background-position:-216px -54px;width:18px;height:18px;}
.sprite-amps{background-position:-216px -72px;width:18px;height:18px;}
.sprite-alert{background-position:-216px -90px;width:18px;height:18px;}
.sprite-alert-rules{background-position:-216px -108px;width:18px;height:18px;}
.sprite-alert-log{background-position:-216px -126px;width:18px;height:18px;}
.sprite-airflow{background-position:-216px -144px;width:18px;height:18px;}
.sprite-accounting{background-position:-216px -162px;width:18px;height:18px;}
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
/*only screen and (     -o-min-device-pixel-ratio: 2/1),*/
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 2dppx)
{
  [class^="sprite-"], [class*=" sprite-"] {
    background-size: 234px 216px;
    background-image: url("../img/svg_png_36.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
/*only screen and (     -o-min-device-pixel-ratio: 2/1),*/
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 2dppx)
{
  [class^="sprite-"], [class*=" sprite-"] {
    background-size: 234px 216px;
    background-image: url("../img/svg_png_36.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
/*only screen and (     -o-min-device-pixel-ratio: 2/1),*/
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 2dppx)
{
  [class^="sprite-"], [class*=" sprite-"] {
    background-size: 234px 216px;
    background-image: url("../img/svg_png_36.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
/*only screen and (     -o-min-device-pixel-ratio: 2/1),*/
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 2dppx)
{
  [class^="sprite-"], [class*=" sprite-"] {
    background-size: 234px 216px;
    background-image: url("../img/svg_png_36.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
/*only screen and (     -o-min-device-pixel-ratio: 2/1),*/
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 2dppx)
{
  [class^="sprite-"], [class*=" sprite-"] {
    background-size: 234px 216px;
    background-image: url("../img/svg_png_36.png");
  }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
/*only screen and (     -o-min-device-pixel-ratio: 2/1),*/
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 2dppx)
{
  [class^="sprite-"], [class*=" sprite-"] {
    background-size: 234px 216px;
    background-image: url("../img/svg_png_36.png");
  }
}

