@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (   min--moz-device-pixel-ratio: 1.5),
only screen and (        min-device-pixel-ratio: 1.5),
only screen and (                min-resolution: 144dpi),
only screen and (                min-resolution: 1.5dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('svg_png_27.png');
 }
}
 
 
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('svg_png_36.png');
 }
}
 
@media
only screen and (-webkit-min-device-pixel-ratio: 2.5),
only screen and (   min--moz-device-pixel-ratio: 2.5),
only screen and (        min-device-pixel-ratio: 2.5),
only screen and (                min-resolution: 240dpi),
only screen and (                min-resolution: 2.5dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('svg_png_45.png');
 }
}
 
@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (        min-device-pixel-ratio: 3),
only screen and (                min-resolution: 288dpi),
only screen and (                min-resolution: 3dppx)
{
 [class^="sprite-"], [class*=" sprite-"] {
   background-image: url('svg_png_54.png');
 }
}
